/*======= index.html =======*/
#page3 .col-1{width:272px; margin-right:68px;}
#page3 .col-2{width:196px;}

#page5 .col-1{width:262px; margin-right:72px;}
#page5 .col-2{width:203px;}
/*=========================*/


